<% if(typeof messages_s !== 'undefined') {
    for (let m of messages_s) { %>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <i class="bi bi-check-circle"></i> <%=m%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<% }} %>


<% if(typeof messages_e !== 'undefined')  {
    for (let m of messages_e) { %>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <i class="bi bi-info-circle"></i> <%=m%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<% }} %>