<!DOCTYPE html>
<html lang="en">

<head>
    <!-- To reduce duplication, we will leverage EJS partials. -->
    <%- include('./partials/head.ejs') %>
    <title>Secret</title>
</head>

<body>

    <!-- The <header> HTML element represents introductory content, typically a group of introductory or navigational aids. -->
    <header>
        <!-- include a partial with a parameter -->
        <%- include('./partials/navbar.ejs')%>
    </header>

    <h1>Welcome, <%= currentUser ? currentUser.username: 'anonymous' %>!</h1>

    <%- include('./partials/footer.ejs') %>
</body>

</html>