<!DOCTYPE html>
<html lang="en">

<head>
    <!-- To reduce duplication, we will leverage EJS partials. -->
    <%- include('../partials/head.ejs') %>
    <title>Create Product</title>
</head>

<body>
    <div class="container">
        <h1>Create Product</h1>
        <form action="/farms/<%=farm_id%>/products" method="POST">

            <label for="name" class="form-label">Product Name</label>
            <input type="text" name="name" id="name" placeholder="Product Name" class="form-control mb-3">

            <label for="price" class="form-label">Unit Price</label>
            <input type="number" name="price" id="price" placeholder="0.00" class="form-control mb-3">

            <label for="category" class="form-label">Category</label>
            <select name="category" id="category" class="form-select mb-3">
                <option selected>Please Select</option>
                <option value="fruit">Fruit</option>
                <option value="vegetable">Vegetable</option>
                <option value="dairy">Dairy</option>
            </select>

            <div class="d-flex justify-content-end">
                <a href="/products" class="btn btn-outline-secondary mx-2">Cancel</a>
                <button type="submit" class="btn btn-primary mx-2">Create</button>
            </div>


        </form>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>