<!-- if(typeof messages_success !== 'undefined')  -->

<div class="container my-3" id="flash-messages">
    <% for (let message of messages_success) {%>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle"></i> <%=message%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <% } %>


    <% for (let message of messages_error) {%>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-info-circle"></i> <%=message%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <% } %>

</div>