<!DOCTYPE html>
<html lang="en">

<head>
    <!-- To reduce duplication, we will leverage EJS partials. -->
    <%- include('../partials/head.ejs') %>
    <title>Sign in</title>
</head>

<body>

    <% if (typeof nonexistingvariable !== 'undefined') { %>
    <h1>non existing variable.</h1>
    <% } %>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">

                <!-- flash messages -->
                <%- include('../partials/flash-messages.ejs') %>

                <h1>Sign In</h1>
                <form action="/signin" method="POST" class="needs-validation" novalidate>

                    <div class="input-group mb-3">
                        <!-- <label for="username" class="form-label">Username</label> -->
                        <span class="input-group-text" id="biuser"><i class="bi bi-person-circle"></i></span>
                        <input type="text" name="username" id="username" placeholder="username" aria-label="username"
                            aria-describedby="biuser" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a username.
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <!-- <label for="password" class="form-label">Password</label> -->
                        <span class="input-group-text" id="bilock"><i class="bi bi-lock-fill"></i></span>
                        <input type="password" name="password" id="password" placeholder="password"
                            aria-label="Password" aria-describedby="bilock" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a password.
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Sign in <i
                            class="bi bi-box-arrow-in-right"></i></button>

                </form>
            </div>
        </div>

        <!-- footer -->
        <%- include('../partials/footer.ejs') %>
    </div>

    <!-- bootstrap validation script -->
    <%- include('../partials/bs-validation.ejs') %>
</body>

</html>