<!DOCTYPE html>
<html lang="en">

<head>
    <!-- To reduce duplication, we will leverage EJS partials. -->
    <%- include('../partials/head.ejs') %>
    <title>Sign in</title>
</head>

<body>


    <%# ejs does not like this syntax if variable is undefined: if (!nonexistingvariable) %>
    <% if (typeof nonexistingvariable !== 'undefined') { %>
    <h1>non existing variable.</h1>
    <% } %>


    <div class="row justify-content-center align-items-center" style="height: 100vh;">

        <div class="col-md-6" style="max-width: 500px;">

            <!-- flash messages -->
            <%- include('../partials/flash-messages.ejs') %>

            <h1 class=" text-center mb-5">Sign In</h1>
            <form action="/signin" method="POST" class="needs-validation" novalidate>

                <!-- <div class="input-group mb-3">
                    <span class="input-group-text" id="biuser"><i class="bi bi-person-circle"></i></span>
                    <input type="text" name="username" id="username" placeholder="username" aria-label="username"
                        aria-describedby="biuser" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a username.
                    </div>
                </div> -->

                <div class="form-floating mb-3">
                    <input type="text" name="username" id="username" placeholder="username" aria-label="username"
                        class="form-control" required>
                    <label for="username"><i class="bi bi-person-circle"></i> Username</label>

                    <div class="invalid-feedback">
                        Please provide a username.
                    </div>
                </div>



                <div class="form-floating mb-3">
                    <input type="password" name="password" id="password" placeholder="password" aria-label="Password"
                        class="form-control" required>
                    <label for="password"><i class="bi bi-lock-fill"></i> Password</label>
                    <div class="invalid-feedback">
                        Please provide a password.
                    </div>
                </div>

                <div class="container text-center my-4">
                    <button type="submit" class="btn btn-success">Sign in <i
                            class="bi bi-box-arrow-in-right"></i></button>
                </div>



            </form>

            <div class="container text-muted my-3">
                <hr> Don't you have an account? <a href="/register">Sign up
                    ></a>
            </div>
        </div>

        <!-- footer -->
        <%- include('../partials/footer.ejs') %>
    </div>




    <!-- bootstrap validation script -->
    <%- include('../partials/bs-validation.ejs') %>
</body>

</html>