<!DOCTYPE html>
<html lang="en">

<head>
    <!-- To reduce duplication, we will leverage EJS partials. -->
    <%- include('./partials/head.ejs') %>
    <title>Flash Messages</title>
</head>

<body>
    <div class="container">

        <%- include('./partials/flash-messages.ejs', {messages_s: messages_success, messages_e: messages_error}) %>

        <%- include('./partials/footer.ejs') %>
    </div>
</body>

</html>