<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Demo
    </title>
</head>

<body>
    <h1><%= 'Hello, there'.toUpperCase() %></h1>
    <%= 1 + 1  %>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique aperiam ea mollitia magni eligendi tempore.
        Sed, tempore repellendus amet quisquam sapiente natus omnis. Quaerat natus earum asperiores delectus?
        Reiciendis, dolor.</p>
</body>

</html>