<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number Generator</title>
    <!-- serving static files -->
    <!-- Note that the name of the static directory is not part of the URL. -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- accept a local variable: die -->
    <img src="images/die_face_<%=die%>.png" alt="die face" style="width: 50px;">
    <h1>Behold! The mighty die has declared a : <%= die %></h1>

    <!-- EJS Conditional Rendering -->
    <% if (die == 6) { %>
    <h2>You've hit the jackpot with that!</h2>
    <% } else if (die == 1) { %>
    <h2>Oh no, snake eyes!</h2>
    <% } else { %>
    <h2>You can do better than that!</h2>
    <% } %>

    <!-- The conditional (ternary) operator -->
    <!-- This operator is frequently used as an alternative to an if...else statement. -->
    <div class="box"><%= die % 2 == 0 ? 'Even' : 'Odd' %></div>

</body>

</html>