<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pr-md-5">
                <a href="#" class="d-block mb-4">Colorlib</a>
            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Partners</a></li>
                </ul>
            </div>
            <div class="col-md text-md-center">
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                </ul>
                <p class=""><a href="#" class="btn btn-tertiary">Contact Us</a></p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 text-center">
                <div class="mt-5 pt-5">
                    <p><small>© 2023 All Rights Reserved.</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>